body {
    font-family: "Wild Words";
}

h1 {
    color: blue;
}

header {
    background-color: orangered;
}

.btn {
    background-color: orange;
    color: blue;
}

.btn:hover {
    background-color: green;
    color: orange;
}

